div.box{
height: 200px;
border:solid;
border-width: 50px;
padding: 20px;
margin: 10px;
width: 200px;
position: relative;
}
div.top_container{
  background-color: red;
  left: 700px;
}
div.mid_container{
  background-color: blue;
  bottom: 350px;
}
div.bot_container{
  background-color: green;
  bottom: 700px;
  left: 350px;
}
